nav {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: var(--primary-color);
  color: var(--text-light);

  .container {
    display: flex;
    flex-direction: row;
  }
}

.grid-propostas {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  
  quick-card-body {
    label {
      color: var(--gray-500);
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
